<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Aktueller Spieler: {{player}}</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <button (click)="newGame()" class="btn btn-primary w-100">Starte ein neues Spiel</button>
        </div>
    </div>
    <div class="row" *ngIf="winner">
        <div class="col-12">
            <h4>
                Spieler <strong>{{winner}}</strong> hat das Spiel gewonnen.
            </h4>
        </div>
    </div>
    <div class="row" *ngIf="nobodyWon">
        <div class="col-12">
            <h4>
                Keiner hat das Spiel gewonnen
            </h4>
        </div>
    </div>

    <main class="row">
            <app-square 
                *ngFor="let val of squares; let i = index"
                [value]="val"
                (click)="makeMove(i)"
                class="col-4 mb-2 mt-2">
            </app-square>
    </main>
</div>