<div class="container">
    <div class="row">
        <h1>Current Player: {{player}}</h1>
    </div>
    <div class="row mb-2">
        <button (click)="newGame()" class="btn btn-primary">Start new Game now!</button>
    </div>

    <div class="row" *ngIf="winner">
        <h2>
            Player {{winner}} won the game!
        </h2>
    </div>

    <main class="row">
        <app-square 
            *ngFor="let val of squares; let i = index"
            [value]="val"
            (click)="makeMove(i)"
            class="col-4 mb-2 mt-2">
        </app-square>
    </main>
</div>